a {
    display: block;
    text-decoration: none;
    color: black;
}
.font {
    font-family: 'Open Sans', sans-serif;   
}
.floatLeft {
	float: left;
    display: inline;
    overflow: none;
    white-space: nowrap;
}
.floatRight {
	float: right;
}
.center {
    margin: 0 auto;
}
.widthFull {
    margin: 0;
    padding: 0;
    width: 100%;
}
.width {
    max-width: 1200px;
    min-width: 700px;
}
.noMargin {
    margin: 0;
}
.noPadding{
    padding: 0;
}

.header {
	height: 48px;
    position: fixed;
    top: 0;
}
.headerContainer {
    height: inherit;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.headerContainer > img {
    width: auto;
    max-height: 40px;
    display: inline;
}
.logo {
    margin: 5px 5px 5px 9px;
}
.title {
    width: auto;
    height: 20px;
    font-size: 20px;
    margin: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}

.navi {
    width: auto;
    height: 48px;
}
.navi ul {
    height: inherit;
    list-style-type: none;
    overflow: hidden;
}
.navi ul li {
    height: inherit;
}
.navi ul li a {
    width: auto;
    display: block;
    text-align: center;
    height: 20px;
    font-size: 20px;
    margin: 14px;
    text-decoration: none;
    color: #666;
}
.navi ul li a:hover:not(.active) {
    color: lightblue;
}
.navi ul li a:active {
    background-color: lightgrey;
}

.main {
    height: 500px;
    width: 100%;
    margin: 50px 0px 0px;
}
.mainContainer {
    height: inherit;
    background-color: darkslategrey;
}

.footer {
	height: auto;
    width: 100%;
}
.footerContainer {
    background-color: lightgreen;
    height: 100px;
}